  
/* .inslogo{
    width: auto;
    height: auto;
    margin: 10px;
    justify-content: space-between;
    color: white;
}
.xlogo{
    width: auto;
    height: auto;
    margin: 10px;
    justify-content: space-between;
    color: white;
}
.gitlogo{
    width: auto;
    height: auto;
    margin: 10px;
    margin-right: 20px;
    justify-content: space-between;
    color: white;
} */
.nav-item{
    font-family: "Roboto Slab";
}
.nav-item{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    float: left;
    position: relative;
    padding: 10px 20px;
  }
.nav-item::after {
    background-color: white;
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: width 0.35s ease 0s;
    position: absolute;
  }
  
.nav-item:hover::after {
    width: 100%;
}
nav{
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile a{
    cursor: pointer;
    margin-right:10px;
    text-decoration: none;
}
.profileimg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.dropdown-menu.show {
    display: flex;
    flex-direction: column;
}
.profileimg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.search-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.search-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search-results div {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

.search-results div:hover {
    background-color: #eee;
}