.qontainer{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1E1E1E;
}
.myimg{
  align-items: center;
  width: 100px;
  height: 100px;
}
.mytag{
  color: white;
  margin-bottom: 3vh;
  cursor:default;
}
.my{
  display: flex;
  flex-direction: column;
  width: 80vh;
  height: 8vh;
  margin: 10px;
}

.frm{
  margin-top:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}
.frm input{
  width: 250%;
  font-size: large;
  background-color: #393E46;
  color: #D9D9D9;
}

.mybtn{
  padding: 10px 50px;
  border: none;
  border-radius: 50px;
  margin: 10px 0px;

}
.mybtn:hover{
  border: none;
  border-radius: 50px;
  background-color: black;
  color: white;
}
.big-box{
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D9D9D9;
  padding: 1%;
  border-radius: 50px 50px 50px 50px;
  text-align: left;
}
.mygrp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.mygrp2{
  display: flex;
  flex-direction: column;
  margin-left: 10vh;
}
.mygrp a{
  text-decoration: none;
}

label{
  font-family: "Bricolage Grotesque";
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align: left;
}