@media screen and (min-width: 600px){
.head{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.back{
    position: absolute;
    height: 50px;
    width: 90px;
    top: 0;
    left: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.container .profilePicWrapper {
    width: 20%;
    padding-bottom: 20%; /* This makes the aspect ratio 1:1 */
    border-radius: 50%;
    overflow: hidden; /* This hides the parts of the image that are outside the circle */
    position: relative; /* This allows the image to be positioned absolutely within the wrapper */
}

.container .profilePicWrapper .profilePic {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover; /* This scales the image to cover the entire wrapper */
}
.email{
    width: 40%;
    padding: 10px;
    border: solid black 1px;
    margin: 10px;
}
.username{
    margin: 10px;
    width: 40%;
    padding: 10px;
    border: solid black 1px;
}
.password{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
}
@media screen and (max-width: 600px){
    .head{
        display: flex;
        background-color: black;
        color: white;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 50px;
    }
    .back{
        position: absolute;
        height: 50px;
        width: 90px;
        top: 0;
        left: 0;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    .container .profilePicWrapper {
        width: 40%;
        padding-bottom: 40%; /* This makes the aspect ratio 1:1 */
        border-radius: 50%;
        overflow: hidden; /* This hides the parts of the image that are outside the circle */
        position: relative; /* This allows the image to be positioned absolutely within the wrapper */
    }
    
    .container .profilePicWrapper .profilePic {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover; /* This scales the image to cover the entire wrapper */
    }
    .email{
        width: 80%;
        padding: 10px;
        border: solid black 1px;
        margin: 10px;
    }
    .username{
        margin: 10px;
        width: 80%;
        padding: 10px;
        border: solid black 1px;
    }
    .password{
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }
}